<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" status="WARN"
               xmlns="https://logging.apache.org/xml/ns/log4j-config-2.xsd"
               xsi:schemaLocation="https://logging.apache.org/xml/ns/log4j-config-2.xsd">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{MM:dd HH:mm:ss.SSS}] [%level] [%X{traceId:-},%X{spanId:-}] [%logger{36}] - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="logs/app.log"
                     filePattern="logs/archive/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="[%d{MM:dd HH:mm:ss.SSS}] [%level] [%X{traceId:-},%X{spanId:-}] [%logger{36}] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="RollingFile"/>-->
        </AsyncRoot>
    </Loggers>
</Configuration>